body{
    background-image: url("color1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.container
{
    width: 490px;
    margin: 180px auto;
    
}

div h2
{
    font-size: 60px;
    color: rgb(99, 35, 124);
    margin-left: 4vh;
    
}

div h3
{
    font-size: 50px;
    color: rgb(99, 35, 124);
}

#btn1{
    text-decoration: none;
}

 #btn1:hover{

    color:black;
 }